html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }
body{
  text-align: center;
  background: rgb(41, 63, 80);
  margin: 0;
  background: #344152;
  background: -webkit-linear-gradient(to right, #344152 , #35586C);
  background: -moz-linear-gradient(to right, #344152  , #35586C);
  background: linear-gradient(to right, #344152 , #35586C);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
.header{
  color: white;
  background-color: #171717;
  border-bottom: 8px solid black;
}
.header h1{
  padding: 20px 0;
  margin: 0;
  font-size: 48px;
}
#movie-list{
  padding: 0;
}
#movie-list li{
  display: inline-block;
  width: 33%; 
  margin-bottom: 30px;
}
#movie-list li>div>p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 24px/25px "Roboto", Arial, sans-serif;
  color: white;
  margin: 15px 0;
  cursor: pointer;
}

#movie-list li>div{
  height: 490px;
  width: 300px;
  margin: 0 auto;
}

.movie-content{
  height: 435px;
  width: 100%;
  text-align: left;
  position: relative;
}

.movie-content>img{
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 4px;
  vertical-align: top;
  cursor: pointer;
}

.movie-content>img,
#movie-list li>div>p{
  transition: all 0.2s ease;
}

.movie-content>img:hover{
  border-color: #00FF80 !important;
}
#movie-list li>div>p:hover{
  color: #00FF80;
}
#button-wrapper{
  margin: 15px;
}
footer{
  position: fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;
}

#search-field{
  width: 350px;
  font: 18px/22px "Roboto", Arial, sans-serif;
  border-radius: 2px;
  padding-left: 4px;
  border: none;
  margin-right: 10px;
  box-shadow: none;
}

#search-submit,
#button-wrapper button{
  font: 16px/22px "Roboto", Arial, sans-serif;
  border-radius: 1px;
  border: none;
  transition: all 0.2s ease;
}

#search-submit:hover,
#button-wrapper button:hover{
  background-color: #00FF80;
}

.reduce-size{
  height: 50% !important;
  width: 50% !important;
  border: 2px solid white !important;
  background-color: #171717;
}

.rating{
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
  padding: 0 10px;
  font: 22px/22px "Roboto", Arial, sans-serif;
}
.imbd img{
  height: 40px;
  width: auto;
  vertical-align: middle;
  margin-right: 20px;
}

.genre,
.synopsis{
  font-size: 18px;
}
.imbd{
  line-height: 40px;
}
.synopsis{
  width: 100%;
  height: 50%;
  bottom: 0;
  font-family: "Roboto", Arial, sans-serif;
  padding: 15px;
  overflow: hidden;
}
.synopsis div{
  height: 100%;
  margin: 0;
}
.synopsis,
.rating{
  position: absolute;
  vertical-align: top;
  background-color: #171717;
  color: white;
}

.synopsis h2{
  margin: 0;
  padding-bottom: 15px;
}

#scrollToTop{
  width: 50px;
  height: 50px;
  line-height: 45px;
  font-size: 60px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  border: 3px solid white;
  background-color: #C0C0C0;
  opacity: 0.6;
  border-radius: 100%;
  z-index: 1;
}

#scrollToTop:hover{
  background-color: #00FF80;
}